.container-m{
    padding: 0 !important;
    overflow: hidden;
    
}

.navegation{
    color: rgb(29, 28, 28) !important;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 30px !important;
}

.col-fondo{
    background: linear-gradient(to right,rgba(241, 243, 248, 0.8), rgba(228, 226, 232, 0.7));
}

.hero{
    
    background-image: url("./img/hero.png"),
                    linear-gradient(to right,rgba(241, 243, 248, 0.8), rgba(228, 226, 232, 0.7));
    
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover; 
}

.barra-baja{
    width: 20%;
}

.eje{
    margin-left: 130px;
    margin-right: 130px;
}

.generation{
    padding: 100px;
    background: rgb(247, 247, 247);
    
}

.generation > img, h5, p{
    margin-top: 30px !important;
    
}

.hero2{
    background-image: url("./img/hero2.png");
    
}

.vintage{
    height: 600px;
    padding: 0 !important;
}
 .text-vintage{
     height: 400px;
     padding: 70px 40px 50px 40px;
 }

 .text-vintage > p{
     text-align: justify;
 }

 .img-vintage{
     height: 200px;
     background-image: url("./img/img1.png");
     background-repeat: no-repeat;
     background-size: cover;
 }

 .img-boriosa{
    height: 200px;
    background-image: url("./img/img2.png");
    background-repeat: no-repeat;
    background-size: cover;
 }

 .hero3{
     background-image: url("./img/hero3.png"), 
     linear-gradient(rgba(117, 126, 133, 0.9), rgba(97, 111, 122, 0.9));
     
 }

.hero4{
    background-image: url("./img/img3.png");
    background-repeat: no-repeat;
    background-size: cover;
} 

.hero5{
    background-image: url("./img/img4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-retro{
    height: 200px;
    background-image: url("./img/img5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page{
    background: rgb(247, 247, 247);
    padding: 50px !important;
}

.bike-discover{
    padding: 0 !important;
}

.bike-hair-one{
    background-image: url("./img/img6.png");
    background-size: cover;
    float: left;
    height: 200px;
}

.bike-hair-two{
    background-image: url("./img/img7.png");
    background-size: cover;
    float: left;
    height: 200px;
}

.bike-hair-three{
    background-image: url("./img/img8.png");
    background-size: cover;
    float: left;
    height: 200px;
}

.bike-hair-four{
    height: 400px;
    background-image: url("./img/img9.png");
    background-size: cover;
    float: left;
}

.bike-hair-five{
    height: 400px;
    background-image: url("./img/img10.png");
    background-size: cover;
    float: left;
}

.bike-hair-six{
    height: 200px;
    background-image: linear-gradient(rgba(116, 187, 158, 0.9), rgba(116, 187, 158, 0.7)),
                        url("./img/img11.png");
    background-size: cover;
}

.bike-hair-seven{
    height: 200px;
    background-image: url("./img/img12.png");
    background-size: cover;
    float: left;
}

.bike-hair-eight{
    height: 200px;
    background-image: url("./img/img13.png");
    background-size: cover;
    float: left;
}

.btn-discover{
    height: 150px;
}

.btn-discover-shop{
    border: 2px solid gray;
    padding: 10px 50px 10px 50px;
    color: white;
    cursor: pointer;
    font-size: 10px;
}

.stay{
    height: 400px;
    background: linear-gradient(rgb(255,255,255));
}

.stay-content > p{
    font-style: italic;
    color: gray;
    font-weight: bold;
}

.btn-email{
    width: 300px;
    height: 40px;
    padding: 20px;
}

.btn-go{
    height: 45px;
    width: 100px;
    color: white;
    background: rgb(100, 194, 154);
    border: none;
}

.footer{
    height: 300px;
    background: rgb(247, 247, 247);

}

.footer-description{
    padding: 0 !important;
    color: gray;
    margin: 0 !important;
    line-height: 0px;
}

.redes > span{
    margin: 10px;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    transition-duration: 1s;
    cursor: pointer;
}

.tw:hover{
    color: rgb(120, 205, 240);
    transition-duration: 1s;
}

.fb:hover{
    color: rgb(83, 123, 189);
    transition-duration: 1s;
}

.pin:hover{
    color: rgb(235, 87, 85);
    transition-duration: 1s;
}